<!DOCTYPE html>
<html>
<head>
	<title>Travel and Goodies</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|News+Cycle" rel="stylesheet">
</head>
<body>
	<h1> Travel Adventures</h1>
<hr class="title">
<figure>
		<img src="../images/ireland.jpg" width="507px" height="216px" alt="panormaic view of the Cliffs of Mohr">
		<figcaption>I traveled along the south of Ireland and everything is so green!</figcaption>
	</figure>

	<br>
	<figure>
		<img src="../images/hawaii.jpg" width="408px" height="408px" alt="green forest and mountains in Maui">
		<figcaption>Hawaii was awesome to visit! This was known as the Jurassic Park View in Maui.</figcaption>
	</figure>

	<br>
	<figure>
		<img src="../images/england.jpg" width="408px" height="306px" alt="Big Ben clock and the British Parliament">
		<figcaption>London is one of my favorite cities! Big Ben's one of my favorite landmarks.</figcaption>
	</figure>

	<br>
	<figure>
		<img src="../images/amsterdam.jpg" width="504px" height="378px" alt="one of the canals in Amsterdam">
		<figcaption>I just went to Amsterdam in July. The canals are really cool.</figcaption>
	</figure>
	<hr>
	<br>
	<p> When I travel around the city or at home or anywhere else, I like to try to new food places!<p>
		
	<figure>
		<img src="../images/food.jpg" width="375px" height="488.5px" alt="collage of food and drinks">
		<figcaption>My friend and I document our food travels on an instagram page 
			(<a href="http://instagram.com/unqualified_foodies" target="_blank"> @unqualified_foodies)</a>
		</figcaption>
	</figure>
	<hr class="title">
	<br>
	<a href="../index.html">GO BACK TO MY ORIGINAL PAGE</a>
	
</body>
</html>